.root {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (min-width: 840px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  @media (min-width: 1280px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 40px;
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 840px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1280px) {
    grid-gap: 24px;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
}