<IfModule mod_headers.c>
    Header always append X-Frame-Options DENY
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options nosniff
    Header set Content-Security-Policy "default-src 'self';"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains;"
</IfModule>
