.root {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(var(--color-background));
  padding: 12px 12px 0 12px;
}

.banner {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  color: rgb(var(--color-offWhite));
  text-decoration: none;
  gap: 24px;
}

.content {
  width: 100%;
  padding: 0px 4px;
  display: flex;
}

.sideColumn {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.img {
  position: absolute;
  max-width: initial;
  top: 0;
  bottom: 0;
  height: 100%;
}

.beeImg {
  display: none;

  @media (min-width: 840px) {
    display: block;
  }
}

.leftBgImg {
  right: 65%;

  @media (min-width: 1530px) {
    right: auto;
    left: 0;
  }
}

.rightBgImg {
  left: 65%;

  @media (min-width: 1530px) {
    left: auto;
    right: 0;
  }
}

.leftIllustration {
  left: 20%;
}

.rightIllustration {
  right: 20%;
}

.textContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000000;
  padding: 8px 12px; 

  @media (min-width: 640px) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.berachainLogo {
  flex-shrink: 0;
  height: 18px;
}
