.root {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(var(--color-background));
  padding: 12px 12px 0 12px;
}

.banner {
  position: relative;
  width: 100%;
  background-color: #F50DB4;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: rgb(var(--color-offWhite));
  text-decoration: none;
  gap: 24px;
  justify-content: space-between;
  
  @media (min-width: 640px) {
    justify-content: center;
  }
}

.bgImg {
  position: absolute;
}

.leftBgImg {
  display: none;
  
  @media (min-width: 640px) {
    display: block;
    left: -120px;
    top: -2px;
    width: 240px; 
    height: auto;
  }

  @media (min-width: 840px) {
    width: 238px; 
    top: -5px;
    left: -20px;
  }

  @media (min-width: 1280px) {
    width: 240px; 
    top: -9px;
  }
}

.rightBgImg {
  top: -38px;
  right: -183px;
  width: 280px;
  height: auto;

  @media (min-width: 640px) {
    top: -50px;
    right: -188px;
    width: 300px;
  }

  @media (min-width: 840px) {
    right: -100px;
  }

  @media (min-width: 1280px) {
    right: -26px;
    top: -56px;
    width: 320px;
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 380px;

  @media (min-width: 1280px) {
    max-width: 100%;
  }
}

.unichainLogo {
  flex-shrink: 0;
  height: 32px;
  height: 32px;
}

.rightIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  @media (min-width: 640px) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;
  }
}