.root {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--color-bg);
  padding-top: 12px;
}

.banner {
  position: relative;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #FFE40A 0%, #F38701 100%);
  overflow: hidden;
  color: var(--color-text);
  text-decoration: none;
  gap: 24px;
}

.content {
  width: 100%;
  padding: 0px 4px;
  display: flex;
}

.sideColumn {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.img {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.beeImg {
  display: none;

  @media (min-width: 840px) {
    display: block;
  }
}

.leftBgImg {
  right: 65%;
}

.rightBgImg {
  left: 65%;
}

.leftIllustration {
  left: 20%;
}

.rightIllustration {
  right: 20%;
}

.textContainer {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000000;
  padding: 8px 12px; 

  @media (min-width: 640px) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.berachainLogo {
  flex-shrink: 0;
  height: 18px;
}
