@import '@venusprotocol/ui/theme';
@import '@venusprotocol/ui/fonts/bebasNeue';
@import '@venusprotocol/ui/fonts/inconsolata';
@import '@venusprotocol/ui/fonts/proximaNova';

@import "variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;

  @media (min-width: 1280px) {
    font-size: 2rem;
  }
}

p {
  color: rgb(var(--color-grey));
  font-size: 1rem;

  @media (min-width: 1280px) {
    font-size: 1.125rem;
  }
}

body {
  font-family: var(--font-proxima-nova), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-offWhite));
}
