@import 'tailwindcss' source('../../../src');

/* let tailwindcss include ui components */
@source '../../../../../packages/ui';

@import '@venusprotocol/ui/theme' layer(theme);
@import '@venusprotocol/ui/fonts/bebasNeue' layer(base);
@import '@venusprotocol/ui/fonts/inconsolata' layer(base);
@import '@venusprotocol/ui/fonts/proximaNova' layer(base);

@import './variables.css' layer(base);

@theme {
  /* screens: */
  --breakpoint-sm: 640px;
  --breakpoint-md: 840px;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-proxima-nova), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    color: var(--color-white);
  }
}

@layer components {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;

    @media (min-width: 1280px) {
      font-size: 2rem;
    }
  }

  p {
    color: var(--color-grey);
    font-size: 1rem;

    @media (min-width: 1280px) {
      font-size: 1.125rem;
    }
  }
}