@import 'tailwindcss' source("../../../src");

/* let tailwindcss include ui components */
@source "../../../../../packages/ui";

@import "tw-animate-css";
@plugin 'tailwind-scrollbar';

@import '@venusprotocol/ui/fonts/proximaNova' layer(base);
@import '@venusprotocol/ui/theme' layer(theme);

@layer base {
  body {
    font-family: var(--font-proxima-nova), sans-serif;
    background-color: var(--color-background);
    color: var(--color-white);
  }

  * {
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: var(--color-background);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-grey);
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-white);
    }
  }
}

@layer components {
  input {
    color: inherit;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      padding-right: 22px;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      padding-right: 22px;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      padding-right: 22px;
    }

    /* Hide arrows from input number */
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}