@import '@venusprotocol/ui/fonts/proximaNova';
@import '@venusprotocol/ui/theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar { 
    display: none;
  }
}

body {
  font-family: var(--font-proxima-nova), sans-serif;
  background-color: theme('colors.background');
  color: theme('colors.offWhite');
}

input {
  color: inherit;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    padding-right: 22px;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    padding-right: 22px;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    padding-right: 22px;
  }

  /* Hide arrows from input number */
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

* {
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: theme('colors.background');
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: theme('colors.grey');
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.offWhite');
  }
}
