@layer base {
  /* css-variables in rgb format: */
  :root {
    /* The next colors are taken from the UI kit in Figma */
    --color-background-rgb: 24 26 32;
    --color-background-hover-rgb: 42 44 52;
    --color-background-active-rgb: 16 18 24;
    --color-background-disabled-rgb: 24 24 32;
    
    --color-dark-blue-rgb: 30 36 49;
    --color-dark-blue-hover-rgb: 48 53 74;
    --color-dark-blue-active-rgb: 23 28 39;
    --color-dark-blue-disabled-rgb: 30 36 49;
    
    --color-dark-grey-rgb: 46 46 46;
    --color-dark-grey-hover-rgb: 64 64 64;
    --color-dark-grey-active-rgb: 34 34 34;
    --color-dark-grey-disabled-rgb: 226 226 226;
    
    --color-light-grey-rgb: 170 179 202;
    --color-light-grey-hover-rgb: 183 192 212; 
    --color-light-grey-active-rgb: 255 255 255;
    --color-light-grey-disabled-rgb: 170 179 202;

    --color-white-rgb: 255 255 255;

    --color-blue-rgb: 17 153 250;
    --color-blue-hover-rgb: 52 169 255;
    --color-blue-hover-rgb: 58 120 255;
    --color-blue-hover-rgb: 17 153 250;

    --color-green-rgb: 0 195 142;
    --color-green-hover-rgb: 26 208 160;
    --color-green-active-rgb: 0 165 117;
    --color-green-disabled-rgb: 0 195 142;

    --color-red-rgb: 234 57 67;
    --color-red-hover-rgb: 255 77 88;
    --color-red-active-rgb: 211 47 47;
    --color-red-disabled-rgb: 228 57 67;

    --color-orange-rgb: 255 106 0;
    --color-orange-hover-rgb: 255 136 51;
    --color-orange-active-rgb: 229 95 0;
    --color-orange-disabled-rgb: 255 106 0;

    --color-yellow-rgb: 240 185 11;
    --color-yellow-hover-rgb: 255 212 38;
    --color-yellow-active-rgb: 217 162 10;
    --color-yellow-disabled-rgb: 240 185 11;

    /* The next colors are from the old UI kit */
    /* TODO: remove once migration of the dApp is complete */
    --color-cards-rgb: 30 36 49;
    --color-lightGrey-rgb: 45 53 73;
    --color-grey-rgb: 170 179 202;
    --color-mediumBlue-rgb: 38 90 204;
    --color-darkBlue-rgb: 27 67 152;
    --color-greyBlue-rgb: 42 52 77;
  }
}

@theme {
  /* fontFamily: */
  --font-display: 'var(--font-proxima-nova)', 'Arial', 'sans-serif';

  /* screens: */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;

  /* colors: */
  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-background: rgb(var(--color-background-rgb));
  --color-cards: rgb(var(--color-cards-rgb));
  --color-grey: rgb(var(--color-grey-rgb));
  --color-lightGrey: rgb(var(--color-lightGrey-rgb));
  --color-green: rgb(var(--color-green-rgb));
  --color-red: rgb(var(--color-red-rgb));
  --color-white: rgb(var(--color-white-rgb));
  --color-orange: rgb(var(--color-orange-rgb));
  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-blue: rgb(var(--color-blue-rgb));
  /* The next colors are not in the UI kit, but are used throughout the designs */
  --color-mediumBlue: rgb(var(--color-mediumBlue-rgb));
  --color-darkBlue: rgb(var(--color-darkBlue-rgb));
  --color-greyBlue: rgb(var(--color-greyBlue-rgb));

  /* fontSize: */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5;

  --text-base: 1rem;
  --text-base--line-height: 1.5;

  --text-lg: 1.25rem;
  --text-lg--line-height: 1.5;
  --text-lg--font-weight: 600;

  --text-xl: 1.5rem;
  --text-xl--line-height: 1.5;
  --text-xl--font-weight: 700;

  --text-2xl: 2rem;
  --text-2xl--line-height: 1.5;
  --text-2xl--font-weight: 600;

  --text-3xl: 2.5rem;
  --text-3xl--line-height: 1.2;
  --text-3xl--font-weight: 600;

  /* boxShadow: */
  --shadow: 0px 4px 15px 0px #0D1017;

  /* spacing: */
  --spacing: 0.25rem;
}