@layer base {
  :root {
    /* The next colors are taken from the UI kit in Figma */
    --color-background-rgb: 24 26 32;
    --color-background-hover-rgb: 42 44 52;
    --color-background-active-rgb: 16 18 24;
    --color-background-disabled-rgb: 24 24 32;

    --color-dark-blue-rgb: 24 29 39;
    --color-dark-blue-hover-rgb: 48 53 74;
    --color-dark-blue-active-rgb: 30 36 49;
    --color-dark-blue-disabled-rgb: 30 36 49;

    --color-dark-grey-rgb: 46 46 46;
    --color-dark-grey-hover-rgb: 64 64 64;
    --color-dark-grey-active-rgb: 34 34 34;
    --color-dark-grey-disabled-rgb: 226 226 226;

    --color-light-grey-rgb: 170 179 202;
    --color-light-grey-hover-rgb: 183 192 212;
    --color-light-grey-active-rgb: 255 255 255;
    --color-light-grey-disabled-rgb: 170 179 202;

    --color-white-rgb: 255 255 255;

    --color-blue-rgb: 17 153 250;
    --color-blue-hover-rgb: 52 169 255;
    --color-blue-active-rgb: 58 120 255;
    --color-blue-disabled-rgb: 17 153 250;

    --color-green-rgb: 0 195 142;
    --color-green-hover-rgb: 26 208 160;
    --color-green-active-rgb: 0 165 117;
    --color-green-disabled-rgb: 0 195 142;

    --color-red-rgb: 234 57 67;
    --color-red-hover-rgb: 255 77 88;
    --color-red-active-rgb: 211 47 47;
    --color-red-disabled-rgb: 228 57 67;

    --color-orange-rgb: 255 106 0;
    --color-orange-hover-rgb: 255 136 51;
    --color-orange-active-rgb: 229 95 0;
    --color-orange-disabled-rgb: 255 106 0;

    --color-yellow-rgb: 240 185 11;
    --color-yellow-hover-rgb: 255 212 38;
    --color-yellow-active-rgb: 217 162 10;
    --color-yellow-disabled-rgb: 240 185 11;

    /* The next colors are from the old UI kit */
    /* TODO: remove once migration of the dApp is complete */
    --color-cards-rgb: 30 36 49;
    --color-lightGrey-rgb: 45 53 73;
    --color-grey-rgb: 170 179 202;
    --color-mediumBlue-rgb: 38 90 204;
    --color-darkBlue-rgb: 27 67 152;
    --color-greyBlue-rgb: 42 52 77;
  }
}

@theme {
  /* fontFamily: */
  --font-display: 'var(--font-proxima-nova)', 'Arial', 'sans-serif';

  /* colors: */
  --color-inherit: inherit;
  --color-transparent: transparent;

  --color-background: rgb(var(--color-background-rgb));
  --color-background-hover: rgb(var(--color-background-hover-rgb));
  --color-background-active: rgb(var(--color-background-active-rgb));
  --color-background-disabled: rgb(var(--color-background-active-rgb));

  --color-dark-blue: rgb(var(--color-dark-blue-rgb));
  --color-dark-blue-hover: rgb(var(--color-dark-blue-hover-rgb));
  --color-dark-blue-active: rgb(var(--color-dark-blue-active-rgb));
  --color-dark-blue-disabled: rgb(var(--color-dark-blue-active-rgb));

  --color-dark-grey: rgb(var(--color-dark-grey-rgb));
  --color-dark-grey-hover: rgb(var(--color-dark-grey-hover-rgb));
  --color-dark-grey-active: rgb(var(--color-dark-grey-active-rgb));
  --color-dark-grey-disabled: rgb(var(--color-dark-grey-active-rgb));

  --color-light-grey: rgb(var(--color-light-grey-rgb));
  --color-light-grey-hover: rgb(var(--color-light-grey-hover-rgb));
  --color-light-grey-active: rgb(var(--color-light-grey-active-rgb));
  --color-light-grey-disabled: rgb(var(--color-light-grey-active-rgb));

  --color-white: rgb(var(--color-white-rgb));

  --color-blue: rgb(var(--color-blue-rgb));
  --color-blue-hover: rgb(var(--color-blue-hover-rgb));
  --color-blue-active: rgb(var(--color-blue-active-rgb));
  --color-blue-disabled: rgb(var(--color-blue-disabled-rgb));

  --color-green: rgb(var(--color-green-rgb));
  --color-green-hover: rgb(var(--color-green-hover-rgb));
  --color-green-active: rgb(var(--color-green-active-rgb));
  --color-green-disabled: rgb(var(--color-green-disabled-rgb));

  --color-red: rgb(var(--color-red-rgb));
  --color-red-hover: rgb(var(--color-red-hover-rgb));
  --color-red-active: rgb(var(--color-red-active-rgb));
  --color-red-disabled: rgb(var(--color-red-disabled-rgb));

  --color-orange: rgb(var(--color-orange-rgb));
  --color-orange-hover: rgb(var(--color-orange-hover-rgb));
  --color-orange-active: rgb(var(--color-orange-active-rgb));
  --color-orange-disabled: rgb(var(--color-orange-disabled-rgb));

  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-yellow-hover: rgb(var(--color-yellow-hover-rgb));
  --color-yellow-active: rgb(var(--color-yellow-active-rgb));
  --color-yellow-disabled: rgb(var(--color-yellow-disabled-rgb));

  /* The next colors are not in the UI kit, but are used throughout the designs */
  --color-cards: rgb(var(--color-cards-rgb));
  --color-grey: rgb(var(--color-grey-rgb));
  --color-lightGrey: rgb(var(--color-lightGrey-rgb));
  --color-mediumBlue: rgb(var(--color-mediumBlue-rgb));
  --color-darkBlue: rgb(var(--color-darkBlue-rgb));
  --color-greyBlue: rgb(var(--color-greyBlue-rgb));

  /* breakpoints */
  --breakpoint-xs: 375px;
  --breakpoint-2xl: 1440px;

  /* fontSize: */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5;

  --text-base: 1rem;
  --text-base--line-height: 1.5;

  --text-lg: 1.25rem;
  --text-lg--line-height: 1.5;
  --text-lg--font-weight: 600;

  --text-xl: 1.5rem;
  --text-xl--line-height: 1.5;
  --text-xl--font-weight: 700;

  --text-2xl: 2rem;
  --text-2xl--line-height: 1.5;
  --text-2xl--font-weight: 600;

  --text-3xl: 2.5rem;
  --text-3xl--line-height: 1.2;
  --text-3xl--font-weight: 600;

  /* font styles */
  --text-h2: 72px;
  --text-h2--font-weight: 600;
  --text-h2--line-height: 1.5;

  --text-h3: 60px;
  --text-h3--font-weight: 600;
  --text-h3--line-height: 1.5;

  --text-h4: 48px;
  --text-h4--font-weight: 600;
  --text-h4--line-height: 1.5;

  --text-h5: 40px;
  --text-h5--font-weight: 600;
  --text-h5--line-height: 1.5;

  --text-h6: 32px;
  --text-h6--font-weight: 600;
  --text-h6--line-height: 1.5;

  --text-h7: 28px;
  --text-h7--font-weight: 600;
  --text-h7--line-height: 1.5;

  --text-p1s: 24px;
  --text-p1s--font-weight: 600;
  --text-p1s--line-height: 1.5;

  --text-p1r: 24px;
  --text-p1r--font-weight: 400;
  --text-p1r--line-height: 1.5;

  --text-p2s: 20px;
  --text-p2s--font-weight: 600;
  --text-p2s--line-height: 1.5;

  --text-p2r: 20px;
  --text-p2r--font-weight: 400;
  --text-p2r--line-height: 1.5;

  --text-p3s: 16px;
  --text-p3s--font-weight: 600;
  --text-p3s--line-height: 1.5;

  --text-p3r: 16px;
  --text-p3r--font-weight: 400;
  --text-p3r--line-height: 1.5;

  --text-b1s: 14px;
  --text-b1s--font-weight: 600;
  --text-b1s--line-height: 1.5;

  --text-b1r: 14px;
  --text-b1r--font-weight: 400;
  --text-b1r--line-height: 1.5;

  --text-b2s: 12px;
  --text-b2s--font-weight: 600;
  --text-b2s--line-height: 1.5;

  --text-b2r: 12px;
  --text-b2r--font-weight: 400;
  --text-b2r--line-height: 1.5;

  --text-b3s: 10px;
  --text-b3s--font-weight: 600;
  --text-b3s--line-height: 1.5;

  --text-b3r: 10px;
  --text-b3r--font-weight: 400;
  --text-b3r--line-height: 1.5;
  


  /* boxShadow: */
  --shadow: 0px 4px 15px 0px #0D1017;

  /* spacing: */
  --spacing: 0.25rem;
}