.bg {
  height: calc(100vh - 40px);
  min-height: 760px;
  display: flex;
  align-items: center;
}

.content {
  @media (min-width: 840px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}
