.intro {
    position: relative;
    margin-bottom: 40px;
    flex-shrink: 0;

    @media (min-width: 840px) {
        margin-bottom: 0;
    }
}

.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    mix-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: 50vw 0;

    @media (min-width: 640px) {
        background-size: 300px 700px;
        background-position: 64vw 0;
    }

    @media (min-width: 840px) {
        background-size: 575px 675px;
        background-position: 55vw 0;
    
    }

    @media (min-width: 1280px) {
        background-size: 650px 700px;
        background-position: right 0px;
    }
}

.title {
    margin-bottom: 16px;
    font-variant: all-small-caps;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.4rem;

    @media (min-width: 640px) {
        font-size: 40px;
        line-height: 110%;
        letter-spacing: 0.5rem;
    }

    @media (min-width: 1280px) {
        font-size: 52px;
        line-height: 130%;
        letter-spacing: 0.65rem;
    }
}

.description {
    color: rgb(var(--color-offWhite));
    line-height: 150%;
    margin-bottom: 32px;

    @media (min-width: 1280px) {
        letter-spacing: 0.06em;
    }
}

.break {
    display: none;

    @media (min-width: 640px) {
        display: flex;
    }
}
