.intro {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    padding-top: 224px;

    @media (min-width: 640px) {
        justify-content: end;
        padding-top: 335px;
    }

    @media (min-width: 1280px) {
        padding-top: 462px;
    }
}

.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    mix-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: 50vw 0;

    @media (min-width: 640px) {
        background-size: 300px 700px;
        background-position: 64vw 0;
    }

    @media (min-width: 840px) {
        background-size: 575px 675px;
        background-position: 55vw 0;
    
    }

    @media (min-width: 1280px) {
        background-size: 650px 700px;
        background-position: right 0px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 2rem;
    font-variant: all-small-caps;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.5rem;
    @media (min-width: 640px) {
        font-size: 2.5rem;
    }
    @media (min-width: 840px) {
        letter-spacing: 0.65rem;
        font-size: 3.25rem;
    }
}

.description {
    color: var(--color-white);
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
    margin-bottom: 40px;
    letter-spacing: 0.06em;

    @media (min-width: 640px) {
        margin-bottom: 48px;
    }

    @media (min-width: 840px) {
        font-size: 1.125rem;
    }
}

.linkLaunchApp {
    margin-bottom: 40px;

    @media (min-width: 640px) {
        margin-bottom: 0;
    }
}

.cta {
    margin-bottom: 32px;
    width: 100%;

    @media (min-width: 640px) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    @media (min-width: 840px) {
        margin-bottom: 48px;
    }
}

.break {
    display: none;

    @media (min-width: 640px) {
        display: flex;
    }
}
